name = "Gradebooks"
uuid = "27ffb4fc-0c2c-49fd-927d-7f1063d71ffd"
authors = ["Joby M. Anthony III"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
